<%  @title = 'Add episode' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% elsif defined? @shows %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <select name="name" class="form-control" data-live-search="true">
      <% @shows.each { |show| %>
        <option value="<%= show.name %>"><%= show.name %></option>
      <% } %>
    </select><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="go">Add</button>
  </form>
<% else %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>
    
    <input type="text"     placeholder="<%= @show.name %>" class="form-control" required autofocus readonly><br>

    <label class="form-label">Episode</label>
    <input type="number"   placeholder="episode"           class="form-control" name="episode" value="<%= Episode.last_episode(@show.name) + 1 %>" required>

    <% Episode.tasks.each { |task| %>
      <div class="btn-group" data-toggle="buttons">
        <label class="radio btn-label form-label"><%= task.to_s.capitalize %></label>

        <label class="btn btn-primary active">
          <input type="radio" name="<%= task %>" class="form-control" value="nope"   > Nope
        </label>

        <label class="btn btn-primary">
          <input type="radio" name="<%= task %>" class="form-control" value="ongoing"> Ongoing
        </label>

        <label class="btn btn-primary">
          <input type="radio" name="<%= task %>" class="form-control" value="done"   > Done
        </label>

      </div><br>
    <% } %><br>

    <label class="form-label">Download URL</label>
    <input type="url"      name="download"       placeholder="download URL"      class="form-control"><br>

    <input type="checkbox" name="global"         data-label="Apply globally"     class="form-control"><br>

    <label class="form-label">Apply starting from the episode</label>
    <input type="number"   name="apply_episodes" placeholder="from the episode"  class="form-control" value="<%= @show.tot_episodes %>"><br>

    <%= csrf_tag %>
    <input  type="hidden" name="name" value="<%= @show.name %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="add">Add</button>
  </form>
<% end %>

<%= erb :'template/footer' %>