<%  @title = 'Add episode' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% elsif defined? @shows %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <select name="name" class="form-control" data-live-search="true">
      <% @shows.each { |show| %>
        <option value="<%= show.name %>"><%= show.name %></option>
      <% } %>
    </select><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="go">Add</button>
  </form>
<% else %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>
    
    <input type="text"     placeholder="<%= @show.name %>" class="form-control"                                                 required autofocus readonly><br>
    <input type="number"   placeholder="episode"           class="form-control" name="episode" value="<%= Episode.last_episode(@show.name) + 1 %>" required><br>

    <input type="checkbox" name="translation" data-label="Translation" class="form-control"><br>
    <input type="checkbox" name="editing"     data-label="Editing"     class="form-control"><br>
    <input type="checkbox" name="checking"    data-label="Checking"    class="form-control"><br>
    <input type="checkbox" name="timing"      data-label="Timing"      class="form-control"><br>
    <input type="checkbox" name="typesetting" data-label="Typesetting" class="form-control"><br>
    <input type="checkbox" name="encoding"    data-label="Encoding"    class="form-control"><br>
    <input type="checkbox" name="qchecking"   data-label="QC"          class="form-control"><br>

    <input type="url"      name="download"    placeholder="download"   class="form-control"><br>

    <%= csrf_tag %>
    <input  type="hidden" name="name" value="<%= @show.name %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="add">Add</button>
  </form>
<% end %>

<%= erb :'template/footer' %>