<%  @title = 'Delete episode' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% elsif defined? @shows %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <select name="name" class="form-control" data-live-search="true">
      <% @shows.each { |show| %>
        <option value="<%= show.name %>"><%= show.name %></option>
      <% } %>
    </select><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="go">Delete</button>
  </form>
<% elsif defined? @episodes %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>
  
    <select name="episode" class="form-control">
      <% @episodes.each { |episode| %>
        <option value="<%= episode.episode %>"><%= episode.episode %></option>
      <% } %>
    </select><br>

    <%= csrf_tag %>
    <input  type="hidden" name="name" value="<%= @name %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="delete">Delete</button>
  </form>
<% end %>

<%= erb :'template/footer' %>