<%  @title = 'Lost password' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <p class="error"><%= @error %></p>
<% elsif defined? @success %>
  <p class="success"><%= @success %></p>
<% else %>
  <form action="<%= @current_url %>" method="post">
    <input type="text" placeholder="username" name="username"><br>
    <%= csrf_tag %>
    <input type="submit" value="Request">
  </form>
<% end %>

<%= erb :'template/footer' %>