<%  @title = 'Lost password' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% else %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <input type="text" placeholder="username" name="username"  class="form-control" required autofocus><br>
    
    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="request">Request</button>
  </form>
<% end %>

<%= erb :'template/footer' %>