<%  @title = 'New password' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% else %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <input type="password" placeholder="current password" name="curr_password" class="form-control" required autofocus><br>
    <input type="password" placeholder="new password"     name="password"      class="form-control" required          ><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="send">Send</button>
  </form>
<% end %>

<%= erb :'template/footer' %>