<%  @title = 'Add show' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% else %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <label class="form-label">Show</label>
    <input type="text" placeholder="name" name="name" class="form-control" required autofocus><br>

    <label class="form-label">Episodes</label>
    <input type="number" placeholder="number of episodes" name="tot_episodes" class="form-control"><br>

    <label class="form-label">Fansub</label>
    <input type="text" placeholder="fansub" name="fansub" class="form-control"><br>

    <% Show.roles.each do |role| %>
      <label class="btn-label form-label"><%= role == :qchecker ? 'QChecker' : role.to_s.capitalize %></label>

      <input type="text" placeholder="<%= role %>" name="<%= role %>"  class="form-control"><br>
    <% end %>
    
    <select name="status" id="status" class="form-control">
      <option value="ongoing" selected>On going</option>
      <option value="finished">Finished</option>
      <option value="dropped">Dropped </option>
      <option value="planned">Planned </option>
    </select>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="add">Add</button>
  </form>
<% end %>

<%= erb :'template/footer' %>