<%  @title = 'Edit show' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% elsif defined? @shows %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <select name="name" class="form-control" data-live-search="true">
      <% @shows.each do |show| %>
        <option value="<%= show.name %>"><%= show.name %></option>
      <% end %>
    </select><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="go">Edit</button>
  </form>
<% elsif defined? @show %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>
    
    <label class="form-label">Show</label>
    <input type="text" placeholder="<%= @show.name %>" class="form-control" readonly ><br>

    <label class="form-label">Episodes</label>
    <input type="number" placeholder="number of episodes" name="tot_episodes" value="<%= @show.tot_episodes %>" class="form-control" autofocus><br>

    <label class="form-label">Fansub</label>
    <input type="text" placeholder="fansub" name="fansub" value="<%= @show.fansub %>" class="form-control" ><br>

    <% Show.roles.each do |role| %>
      <label class="btn-label form-label"><%= role == :qchecker ? 'QChecker' : role.to_s.capitalize %></label>

      <input type="text" placeholder="<%= role %>" name="<%= role %>" value="<%= @show.instance_variable_get "@#{role}" %>" class="form-control"><br>
    <% end %>
    
    <select name="status" id="status" class="form-control">
      <option value="ongoing"  <%= 'selected' if @show.status == :ongoing  %>>On going</option>
      <option value="finished" <%= 'selected' if @show.status == :finished %>>Finished</option>
      <option value="dropped"  <%= 'selected' if @show.status == :dropped  %>>Dropped </option>
      <option value="planned"  <%= 'selected' if @show.status == :planned  %>>Planned </option>
    </select>

    <%= csrf_tag %>
    <input type="hidden" name="name" value="<%= @show.name %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="edit">Edit</button>
  </form>
<% end %>

<%= erb :'template/footer' %>