<%  @title = 'Edit episode' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% elsif defined? @shows %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>
  
    <select name="name">
      <% @shows.each { |show| %>
        <option value="<%= show.name %>"><%= show.name %></option>
      <% } %>
    </select><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="go">Edit</button>
  </form>
<% elsif defined? @episodes %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>
  
    <select name="episode">
      <% @episodes.each { |episode| %>
        <option value="<%= episode.episode %>"><%= episode.episode %></option>
      <% } %>
    </select><br>

    <%= csrf_tag %>
    <input  type="hidden" name="name" value="<%= @name %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="gogo">Edit</button>
  </form>
<% elsif defined? @episode %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <input type="text"     placeholder="<%= @name            %>"  class="form-control" required autofocus readonly><br>
    <input type="number"   placeholder="<%= @episode.episode %>"  class="form-control"                    readonly><br>

    <input type="checkbox" name="translation" data-label="Translation" <%= 'checked' if @episode.translation %>><br>
    <input type="checkbox" name="editing"     data-label="Editing"     <%= 'checked' if @episode.editing     %>><br>
    <input type="checkbox" name="checking"    data-label="Checking"    <%= 'checked' if @episode.checking    %>><br>
    <input type="checkbox" name="timing"      data-label="Timing"      <%= 'checked' if @episode.timing      %>><br>
    <input type="checkbox" name="typesetting" data-label="Typesetting" <%= 'checked' if @episode.typesetting %>><br>
    <input type="checkbox" name="encoding"    data-label="Encoding"    <%= 'checked' if @episode.encoding    %>><br>
    <input type="checkbox" name="checking"    data-label="QC"          <%= 'checked' if @episode.qchecking   %>><br>
    
    <%= csrf_tag %>
    <input type="hidden" name="name"    value="<%= @name %>">
    <input type="hidden" name="episode" value="<%= @episode.episode %>">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="edit">Edit</button>
  </form>
<% end %>

<%= erb :'template/footer' %>