<%  @title = 'Add show' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
<% else %>
  <form action="<%= @current_url %>" method="post" role="form">
    <h2><%= @title %></h2>

    <input type="text"   placeholder="name"               name="name"         class="form-control" required autofocus><br>
    <input type="number" placeholder="number of episodes" name="tot_episodes" class="form-control"                   ><br>
    <input type="text"   placeholder="airing"             name="airing"       class="form-control"                   ><br>
    <input type="text"   placeholder="translator"         name="translator"   class="form-control"                   ><br>
    <input type="text"   placeholder="editor"             name="editor"       class="form-control"                   ><br>
    <input type="text"   placeholder="typesetter"         name="typesetter"   class="form-control"                   ><br>
    <input type="text"   placeholder="encoder"            name="encoder"      class="form-control"                   ><br>
    <input type="text"   placeholder="checker"            name="checker"      class="form-control"                   ><br>
    <input type="text"   placeholder="timer"              name="timer"        class="form-control"                   ><br>
    <input type="text"   placeholder="qchecker"           name="qchecker"     class="form-control"                   ><br>

    <%= csrf_tag %>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="add">Add</button>
  </form>
<% end %>

<%= erb :'template/footer' %>